<div class="">
  <div class="row bg-w h-55">
    <div class="col-2 bg-blue logo"><span>Hospital</span></div>
    <div class="col-2 user"><span>Suresh Kumar</span></div>
    <div class="col-2"><button class="m-button"><a routerLink="appointments">Appointments</a></button></div>
    <div class="col-2"><button class="m-button"><a routerLink="slots">Slots</a></button></div>
    <div class="col-2"><button class="m-button"><a routerLink="booking">Patient Booking</a></button></div>
  </div>
  <br><br>
  <div class="container bg-w">
    <div class="row min-h">
      <div class="col-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
